.experience{
  border-radius: 13px;
background: #212428;
box-shadow:  5px 5px 11px #0d0e10,
             -5px -5px 11px #353a40;
   
}
.experience:hover{
   animation: 1s infinite  progress ease-in-out;
}


@keyframes progress {
   0% {background: linear-gradient(-90deg , #FF014F,#4fa6f8)}
   100% { background: linear-gradient(90deg , #FF014F,#4fa6f8)}
}